.logo {
    overflow: hidden;
    white-space: nowrap;
    text-indent: 101%;
    background: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/085a62fb22df4bf21c605a180648c6c6e35c2b32/week7/logo-fixie.svg);
    @include size(112px,48px)
  }