a.hover__bg--primary{
    &:hover{
      background-color: $primary !important;
      color:#fff
    }
}

.hover__group{
  &:hover{
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    .hover__group--black{
      background-color: #121212 !important;
      color:#fff !important;
    }
    .hover__group--white{
      background-color: #fff !important;
      color:#121212 !important;
    }
  }
}