

.z-index-10{
    z-index: 10;
}

.top-0{
    top: 0;
}

.top-2{
    top:36px;
}
.top-sm-6{
    @include media-breakpoint-up(sm) {
        top:96px;
    }
}
.top-md-5{
    @include media-breakpoint-up(md) {
        top:48px;
    }
}
.top-xl-12{
    @include media-breakpoint-up(xl) {
        top:192px;
    }
}

.bottom-2{
    bottom:36px;
}
.bottom-sm-6{
    @include media-breakpoint-up(sm) {
        bottom:96px;
    }
}
.bottom-md-5{
    @include media-breakpoint-up(md) {
        bottom:48px;
    }
}
.bottom-xl-12{
    @include media-breakpoint-up(xl) {
        bottom:192px;
    }
}

.left-0{
    left: 0;
}
.left-3{
    left:48px;
}
.left-auto{
    left: auto;
}
.left-xl-6{
    @include media-breakpoint-up(xl) {
        left:96px;
    }
  
}
.-left-md-9{
   
    @include media-breakpoint-up(md) {
        left:-148px;
    }
}


.right-0{
    right: 0;
  
}
.right-auto{
    right: auto;
}
.right-md-0{
   
    @include media-breakpoint-up(md) {
        right:0;
    }
}

.-right-md-3{
   
    @include media-breakpoint-up(md) {
        right:-56px;
    }
}


.right-3{
    right: 48px;
  
}
.right-xl-6{
    @include media-breakpoint-up(xl) {
        right:96px;
    }
  
}