


/* navbar */


$navbar-padding-x: 0; 
$navbar-nav-link-padding-x:  0;
$navbar-brand-padding-y:0;

/*grid*/
$grid-breakpoints: (
  xs:0,
  mb:376px,
  sm: 576px,
  md: 769px,
  lg: 1200px,
  xl: 1440px,
 
);
$container-max-widths: (
  mb:100%,
  sm:100%,
  md: 100%,
  lg: 1200px,
  xl: 1440px,
 
);

/*color*/
$primary :#000000DE;
$secondary :#00000099;
$light: #F1F5F6;
$dark:#12121250;
$theme-colors: () !default;
$theme-colors: map-merge(
  (
    "black":  #000,
  
  ),
  $theme-colors
);


$link-color: $primary;
$link-hover-color:#00000099;
$link-hover-decoration: none;
$border-color:#121212;
/*  font-size */
$font-size-base: 1rem;
$font-size: () !default;
$font-size: map-merge(
  (
    'sm': ($font-size-base *0.875),
    'base': $font-size-base,
    'lg': ($font-size-base * 1.5),
    'xl' :($font-size-base * 3),
    '2xl': ($font-size-base * 4.5),
    '3xl': ($font-size-base * 6),
    
  ),
  $font-size
);

/*font */

$font-family-sans-serif:'Lato',sans-serif;
$font-weight-bolder:900;

$headings-margin-bottom:  0;
$paragraph-margin-bottom:  0;


/*spacer */
$spacer: 1rem ;
$spacers: (
  0:0,
  1:($spacer * 0.25),
  2: ($spacer * 0.5),
  3: $spacer ,
  4: ($spacer * 1.25),
  5:($spacer * 1.5),
  6: ($spacer * 2),
  7: ($spacer * 2.25),
  8: ($spacer * 3),
  9: ($spacer * 4.5),
  10: ($spacer * 6),
);


